/* module.css要適應的新特性 */
/* composes: OOO 用來直接繼承一個CSS的組合 */
/* 全局樣式:global */
@import './_base.scss';
/*=============================================
=               specific setting             =
=============================================*/
// color
$allColor1:#2b2b29;
$allColor2:#b18c67;
$allColor3:#ccbfb7;
$allColor4:#a9a9a9; 
$allColor5:#e1dcd6;
$allColor6:#f5f5f5;
$allColor7:#dddddd;
$allColor8:#ede8e2;

// page
$pageColor1: #f7f8f2;

/*=============================================
=                    base                     =
=============================================*/
.comRel{
	position: relative;
	@include wh(100%,auto);
	margin: 0 auto;
}
.comFix{
    @include fix($w:100%,$h:auto,$t:0,$l:0);
    margin: 0 auto;
}
/*=============================================
=                Footer module                =
=============================================*/
.Footer{
	&Container{
		@extend .comRel;
		background: $allColor1;
		font-family: 'Noto Sans TC';
	}
	&Perbox{
		padding: 5% 0 10%;
		box-sizing: border-box;
	}
	&Singlebox{
		padding: 1%;
		box-sizing: border-box;
	}
}

.menu{
	&Pos{
		&Top{
			@extend .comRel;
			display: inline-block;
		}
	}
	&Spc{
		position: relative;
		display: inline-block;
		vertical-align: top;
		&W20{
			@extend .menuSpc;
			width: 20%;
			margin: 0 5% 0 0;
		}
		&W50{
			@extend .menuSpc;
			width: 50%;
		}
	}
	&Link{
		&Btn{
			position: relative;
			display: block;
			width: 100%;
			font-size: 3vw;
			line-height: 1.5;
			font-weight: 600;
			letter-spacing: 2px;
			color: #fff;
			margin: 5% auto ;
			font-family: 'Zen Maru Gothic';
		}
		&Event{
			position: relative;
			display: block;
			line-height: 1.2;
			margin-bottom: 5%;
			p{
				@extend .menuLinkEvent;
				width: 80%;
				font-size: 1.2vw;
				color: #fff;
				margin: 3.5% 0 1%;
			}
			span{
				@extend .menuLinkEvent;
				font-size: 1vw;
				color: $allColor4;
			}
		}
	}
	&Url{
		&Title{
			position: relative;
			display: block;
			width: 100%;
			font-size: 1vw;
			color: $allColor4;
			min-height: 40px;
			font-weight: 600;
			border-bottom: 1px solid $allColor4;
			
		}
	}
}
.txt{
	&Copyright{
		position: relative;
		text-align: center;
		color: $allColor6;
		font-size: 12px;
		letter-spacing: 2px;
	}
}
/*=============================================
=                     RWD                     =
=============================================*/
@include rwd(max,1100){
	.menu{
		&Link{
			&Event{
				p{
					font-size: 1.5vw;
				}
			}
		}
	}
}
@include rwd(max,768){
	.menu{
		&Spc{
			&W20{
				width: 50%;
				margin: 0;
			}
			&W50{
				width: 100%;
				margin: 1rem auto;
			}
		}
		&Link{
			&Btn{
				font-size: 18px;
			}
			&Event{
				width: 100%;
				p{
					font-size: 14px;
					line-height: 1.2;
				}
				span{
					font-size: 12px;
					line-height: 1.2;
				}
			}

		}
		&Url{
			&Title{
				font-size: 14px;
				min-height: 30px;
			}
		}
	}
	.Footer{
		&Singlebox{
			padding: 20px;
		}
	}
	.txt{
		&Copyright{
			letter-spacing: 1px;
		}
	}
}